var WEEK_NAME = ['周一', '周二', '周三', '周四', '周五', '周六', '周日', '周一', '周二', '周三', '周四', '周五', '周六', '周日']
module.exports = {
  humidity: function(h){
    if(h){
      return h
    }
  },
  // 根据风的 code 和风力输出文案
  wind: function(wind,level){
    if(!wind){
      return '无风'
    }
    return wind
  },
  formatWeeklyDate: function (i) {
    var now = getDate()
    var names = ['今天', '明天', '后天']
    if (names[i]) {
      return names[i]
    }
    var curWeek = now.getDay() - 1 + i

    return WEEK_NAME[curWeek]
  },
  formatDate: function (ts) {
    var date = getDate(ts)
    var month = ('00' + (date.getMonth() + 1)).slice(-2)
    var day = ('00' + date.getDate()).slice(-2)
    return month + '/' + day
  }
}